<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- Define global settings -->
    <variable name="logDirectory" value="${basedir}/../../../logs" />

    <targets>
        <!-- File logging -->
        <target name="logfile" xsi:type="File"
                fileName="${logDirectory}/test-log.txt"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}" />

        <!-- Console logging -->
        <target name="console" xsi:type="Console"
                layout="${longdate} | ${level:uppercase=true} | ${message}" />
    </targets>

    <rules>
        <!-- Log everything at Info level and above to both file and console -->
        <logger name="*" minlevel="Info" writeTo="logfile,console" />
    </rules>
</nlog>
